<div class="simplyad-logo {{ constant('SIMPLYAD_LOGO_COLOR') }}">
	<a href="https://www.simplyad.co.il/" title="{{ title }}" target="_blank">
		<img src="{{ constant('BPATH') }}/wp-content/themes/bt/assets/images/simplyad-{{ constant('SIMPLYAD_LOGO_COLOR') }}.png" alt="{{ title }}" width="150" height="30" loading="lazy">
	</a>
</div>
